<div class="vizew-login-area section-padding-80">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-6">
            {{ form_start(form) }}
            <div class="form-group">
                <label>Название</label>
                {{ form_widget(form.name, { 'attr': {'class': 'form-control'} }) }}
                {{ form_errors(form.name) }}
            </div>
            <div class="form-group">
                <label>Сортировка</label>
                {{ form_widget(form.sort, { 'attr': {'class': 'form-control'} }) }}
                {{ form_errors(form.sort) }}
            </div>
            <div class="form-group">
                <label>Картинка</label>
                {{ form_widget(form.advantage_pic_file, { 'attr': {'class': 'form-control-file'} }) }}
                {{ form_errors(form.advantage_pic_file) }}
                {% if advantage.getAdvPic %}
                    <a href="{{ asset(advantage.getAdvPic) }}" target="_blank">Текущая картинка</a>
                {% endif %}
            </div>
                <button class="btn btn-primary">Подтвердить</button>
            {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>
