{% extends 'base.admin.html.twig' %}

{% block title %}Advantage index{% endblock %}

{% block body %}
    <h1>Advantage index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Adv_pic</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for advantage in advantages %}
            <tr>
                <td>{{ advantage.id }}</td>
                <td>{{ advantage.name }}</td>
                <td>{{ advantage.advPic }}</td>
                <td>
                    {{ include('advantage/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('advantage_new') }}" class="btn btn-primary">Добавить</a>
{% endblock %}
