<div class="vizew-login-area section-padding-80">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-6">
                {{ form_start(form) }}
                <div class="form-group">
                    <label>Название</label>
                    {{ form_widget(form.name, { 'attr': {'class': 'form-control'} }) }}
                    {{ form_errors(form.name) }}
                </div>
                <div class="form-group">
                    <label>Код</label>
                    {{ form_widget(form.code, { 'attr': {'class': 'form-control'} }) }}
                    {{ form_errors(form.code) }}
                </div>
                <div class="form-group">
                    <label>Телефон</label>
                    {{ form_widget(form.phone, { 'attr': {'class': 'form-control'} }) }}
                    {{ form_errors(form.phone) }}
                </div>
                <div class="form-group">
                    <label>О компании (<a href="{{ path('about_new') }}">Добавить новое описание</a>)</label>
                    {{ form_widget(form.about, { 'attr': {'class': 'form-control'} }) }}
                    {{ form_errors(form.about) }}
                </div>
                <div class="form-group">
                    <label>Бонусная карта (<a href="{{ path('bonus_new') }}">Добавить новую страницу карты</a>)</label>
                    {{ form_widget(form.bonus, { 'attr': {'class': 'form-control'} }) }}
                    {{ form_errors(form.bonus) }}
                </div>
                <div class="form-group">
                    <label>Акции (<a href="{{ path('action_new') }}">Добавить новую акцию</a>)</label>
                    {{ form_widget(form.action, { 'attr': {'class': 'form-control'} }) }}
                    {{ form_errors(form.action) }}
                </div>
                <div class="form-group">
                    <label>Товары (<a href="{{ path('product_new') }}">Добавить новые товары</a>)</label>
                    {{ form_widget(form.product, { 'attr': {'class': 'form-control'} }) }}
                    {{ form_errors(form.product) }}
                </div>
                <div class="form-group">
                    <label>Аптеки (<a href="{{ path('pharm_new') }}">Добавить новую аптеку</a>)</label>
                    {{ form_widget(form.pharm, { 'attr': {'class': 'form-control'} }) }}
                    {{ form_errors(form.pharm) }}
                </div>
                <div class="form-group">
                    <label>Реквизиты слева</label>
                    {{ form_widget(form.requisite_left, { 'attr': {'class': 'form-control'} }) }}
                    {{ form_errors(form.requisite_left) }}
                </div>
                <div class="form-group">
                    <label>Реквизиты справа</label>
                    {{ form_widget(form.requisite_right, { 'attr': {'class': 'form-control'} }) }}
                    {{ form_errors(form.requisite_right) }}
                </div>
                <div class="form-check form-group">
                    {{ form_widget(form.active, { 'attr': {'class': 'form-check-input'} }) }}
                    <label class="form-check-label">Активность</label>
                    {{ form_errors(form.active) }}
                </div>
                <button type="submit" class="btn btn-primary">Подтвердить</button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>
