{% extends 'base.admin.html.twig' %}

{% block title %}Landing index{% endblock %}


{% block body %}
    <h1>Список лэндингов</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Название</th>
                <th>Код</th>
                <th>Телефон</th>
                <th>Активность</th>
                <th>Реквизиты слева</th>
                <th>Реквизиты справа</th>
                <th>Дата добавление</th>
                <th>Дата изменения</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
        {% for landing in landings %}
            <tr>
                <td>{{ landing.id }}</td>
                <td>{{ landing.name }}</td>
                <td>{{ landing.code }}</td>
                <td>{{ landing.phone }}</td>
                <td>{{ landing.active ? 'Да' : 'Нет' }}</td>
                <td>{{ landing.getRequisiteLeft }}</td>
                <td>{{ landing.getRequisiteRight }}</td>
                <td>{{ landing.createdAt ? landing.createdAt|date('d-m-Y H:i') : '' }}</td>
                <td>{{ landing.updatedAt ? landing.updatedAt|date('d-m-Y H:i') : '' }}</td>
                <td>
                    {{ include('landing/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">Записей еще нет</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('landing_new') }}">Добавить</a>
{% endblock %}
