{% extends 'base.admin.html.twig' %}

{% block title %}Landing index{% endblock %}

{% block body %}
    <h1>Landing index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Code</th>
                <th>Phone</th>
                <th>Active</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for landing in landings %}
            <tr>
                <td>{{ landing.id }}</td>
                <td>{{ landing.name }}</td>
                <td>{{ landing.code }}</td>
                <td>{{ landing.phone }}</td>
                <td>{{ landing.active ? 'Yes' : 'No' }}</td>
                <td>{{ landing.createdAt ? landing.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ landing.updatedAt ? landing.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('landing_show', {'id': landing.id}) }}">show</a>
                    <a href="{{ path('landing_edit', {'id': landing.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('landing_new') }}">Create new</a>
{% endblock %}
