{% extends 'base.html.twig' %}

{% block title %}{{ landingData.name }}{% endblock %}

{% block body %}
<main class="section section--main">
    <div class="section__image">
        <img src="{{ asset('img/background.jpg') }}" alt="Фотография аптеки Вита" />
    </div>
    <div class="section__content">
        {% for pharm in landingData.pharm %}
            <h1>{{pharm.name}}</h1>
            <h2>{{pharm.type}}</h2>
            <h3>{{pharm.address}}</h3>
            {% for advantage in pharm.advantage %}
                <div class="section__list">
                    <div class="section__icon">
                        <img src="{{ asset(advantage.getAdvPic) }}" alt="Широкий ассортимент" />
                    </div>
                    <div>{{advantage.name}}</div>
                </div>
            {% endfor %}
        {% endfor %}
    </div>
</main>
<section class="section section--second">
    {% for action in landingData.action %}
        <div class="section__image">
            <img src="{{ asset(action.getActionPic) }}" alt="2 + 1 бесплатно" />
        </div>
        <div class="section__content">
            <h2>{{action.name|raw}}</h2>
            <div class="section__disclaimer">
                {{action.labelText|raw}}
            </div>
            <div class="section__icon">
                <img src="{{ asset(action.getLogoPic) }}" alt="Акция" />
            </div>
            {{action.text|raw}}
            <a href="{{action.url}}" class="button" target="_blank">Посмотреть все товары</a>
        </div>
    {% endfor %}
</section>
<section class="section section--second">
    {% for product in landingData.product %}
        <div class="section__image">
            <img src="{{ asset(product.getProductPic) }}" alt="2 + 1 бесплатно" />
        </div>
        <div class="section__content">
            <h2>{{product.name|raw}}</h2>
            {{product.price|raw}}р.
            <a href="{{product.url}}" class="button" target="_blank">Купить</a>
        </div>
    {% endfor %}
</section>
<section class="section section--third" id="about">
    <h2 class="section__title">О компании</h2>
    <div class="slider slider--main">
    {% for key, aboutData in landingData.about %}
        <div class="slider slider--secondary slider--one-item" data-title="{{aboutData.name}}">
            <div>
                {{aboutData.content|raw}}
            </div>
            {# <div>
                <div class="slider__items">
                    <div class="item">
                        <div class="item__image">
                            <img src="{{ asset('img/item-1.png') }}" alt="Выбор" />
                        </div>
                        <div class="item__text">Широчайший выбор товаров</div>
                    </div>
                    <div class="item">
                        <div class="item__image">
                            <img src="{{ asset('img/item-2.png') }}" alt="Обслуживание" />
                        </div>
                        <div class="item__text">
                            Быстрое и качественное обслуживание
                        </div>
                    </div>
                    <div class="item">
                        <div class="item__image">
                            <img src="{{ asset('img/item-3.png') }}" alt="Товары для всей семьи" />
                        </div>
                        <div class="item__text">
                            Товары для мам и малышей
                        </div>
                    </div>
                    <div class="item">
                        <div class="item__image">
                            <img src="{{ asset('img/item-4.png') }}" alt="Косметика" />
                        </div>
                        <div class="item__text">
                            Элитная косметика от ведущих производителей
                        </div>
                    </div>
                    <div class="item">
                        <div class="item__image">
                            <img src="{{ asset('img/item-5.png') }}" alt="Бонусы" />
                        </div>
                        <div class="item__text">
                            Низкие цены и удобная бонусная программа
                        </div>
                    </div>
                    <div class="item">
                        <div class="item__image">
                            <img src="{{ asset('img/item-6.png') }}" alt="Подход" />
                        </div>
                        <div class="item__text">
                            Индивидуальный подход к каждому клиенту
                        </div>
                    </div>
                </div>
            </div> #}
        </div>
    {% endfor %}
    </div>
</section>
{% if landingData.bonus %}
<section class="section section--second">
    <div class="section__image">
        <img src="{{ asset(landingData.bonus.getBonusPic) }}" alt="2 + 1 бесплатно" />
    </div>
    <div class="section__content">
        <h2>{{landingData.bonus.name|raw}}</h2>
        <div class="section__disclaimer" {% if landingData.bonus.labelColor %}style="background-color:{{landingData.bonus.labelColor}}"{% endif %}>
            {{landingData.bonus.labelText|raw}}
        </div>
        {{landingData.bonus.text|raw}}
        <a href="{{landingData.bonus.url}}" class="button" target="_blank">Посмотреть все товары</a>
    </div>
</section>
{% endif %}
<section class="section section--map" id="map"></section>
{% endblock %}