{% extends 'base.html.twig' %}

{% block title %}Страница{% endblock %}

{% block body %}
<main class="section section--main">
    <div class="section__image">
        <img src="{{ asset('img/background.jpg') }}" alt="Фотография аптеки Вита" />
    </div>
    <div class="section__content">
        <h1>Аптека №665</h1>
        <h2>Вита-экспресс</h2>
        <h3>г. Самара, ул. Ульяновская, 19</h3>
        <div class="section__list">
            <div class="section__icon">
                <img src="{{ asset('img/vitamin.svg') }}" alt="Широкий ассортимент" />
            </div>
            <div>Широкий ассортимент</div>
        </div>
        <div class="section__list">
            <div class="section__icon">
                <img src="{{ asset('img/vitamin.svg') }}" alt="Широкий ассортимент" />
            </div>
            <div>Низкие цены</div>
        </div>
        <div class="section__list">
            <div class="section__icon">
                <img src="{{ asset('img/vitamin.svg') }}" alt="Широкий ассортимент" />
            </div>
            <div>Рядом с вами</div>
        </div>
    </div>
</main>
<section class="section section--second">
    <div class="section__image">
        <img src="{{ asset('img/sale.png') }}" alt="2 + 1 бесплатно" />
    </div>
    <div class="section__content">
        <h2>Соберите свой<br />Вита Микс!</h2>
        <div class="section__disclaimer">
            С 1 апреля по 31 июля 2019 г.
        </div>
        <div class="section__icon">
            <img src="{{ asset('img/thirdfree.png') }}" alt="Акция" />
        </div>
        <h3>
            В акции участвуют товары различных категорий. Выберите два акционных
            товара и третий, с наименьшей ценой, получите бесплатно.
        </h3>
        <h3 class="section__pink">
            В акции участвуют товары различных категорий. Выберите два акционных
            товара и третий, с наименьшей ценой, получите бесплатно.
        </h3>
        <a href="https://vitaexpress.ru/vitamix/" class="button" target="_blank"
            >Посмотреть все товары</a
        >
    </div>
</section>
<section class="section section--third" id="about">
    <h2 class="section__title">О компании</h2>
    <div class="slider slider--main">
        <div class="slider slider--secondary" data-title="Информация">
            <div>
                <h4>
                    Компания «Вита» была основана 17 февраля 1993 года в г. Самара. За
                    многие годы, непрерывно развиваясь, компания обеспечила себе
                    устойчивую репутацию надежного партнера и вошла в первую десятку
                    крупнейших аптечных сетей России.
                </h4>
                <p>
                    Основная деятельность - реализация лекарственных средств, изделий
                    медицинского назначения и парафармацевтической продукции через
                    аптеки.
                </p>
                <p>
                    Говоря о здоровье, мы имеем ввиду не только его медицинские
                    аспекты, но и поддержание хорошей формы, здоровое питание и в
                    целом умение вести здоровый образ жизни.
                </p>
            </div>
            <div>
                <div class="slider__items">
                    <div class="item">
                        <div class="item__image">
                            <img src="{{ asset('img/item-1.png') }}" alt="Выбор" />
                        </div>
                        <div class="item__text">Широчайший выбор товаров</div>
                    </div>
                    <div class="item">
                        <div class="item__image">
                            <img src="{{ asset('img/item-2.png') }}" alt="Обслуживание" />
                        </div>
                        <div class="item__text">
                            Быстрое и качественное обслуживание
                        </div>
                    </div>
                    <div class="item">
                        <div class="item__image">
                            <img src="{{ asset('img/item-3.png') }}" alt="Товары для всей семьи" />
                        </div>
                        <div class="item__text">
                            Товары для мам и малышей
                        </div>
                    </div>
                    <div class="item">
                        <div class="item__image">
                            <img src="{{ asset('img/item-4.png') }}" alt="Косметика" />
                        </div>
                        <div class="item__text">
                            Элитная косметика от ведущих производителей
                        </div>
                    </div>
                    <div class="item">
                        <div class="item__image">
                            <img src="{{ asset('img/item-5.png') }}" alt="Бонусы" />
                        </div>
                        <div class="item__text">
                            Низкие цены и удобная бонусная программа
                        </div>
                    </div>
                    <div class="item">
                        <div class="item__image">
                            <img src="{{ asset('img/item-6.png') }}" alt="Подход" />
                        </div>
                        <div class="item__text">
                            Индивидуальный подход к каждому клиенту
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="slider slider--secondary" data-title="Контроль качества">
            <div>
                <h4>
                    Аптеки Вита дают своим клиентам 100% гарантию качества товаров.
                </h4>
                <p>
                    В структуре компании АС Вита есть свой собственный отдел контроля
                    качества и склад для хранения лекарств с тремя разными
                    температурными режимами.
                </p>
                <p>
                    Отдел контроля качества проводит многоуровневую проверку
                    лекарственных средств, перед тем, как они поступают в продажу.
                    Проверка эта проходит в несколько этапов.
                </p>
            </div>
            <div>
                <p>
                    Сначала проводится ревизия документов и предварительная проверка
                    товара по трем показателям: описание, упаковка, маркировка. Затем
                    осуществляется дополнительный входной контроль качества
                    медикаментов - отбор средних проб при поступлении препарата на
                    склад.
                </p>
                <p>
                    Образцы из каждой партии сдаются на контроль в Региональные Центры
                    контроля качества и сертификации ЛС. После проверки препарата на
                    соответствие стандартам качества выдается разрешение на его
                    продажу и присваивается региональный регистрационный номер.
                </p>
                <p>
                    Мы сотрудничаем только с крупными поставщиками, которые очень
                    дорожат своей репутацией.
                </p>
            </div>
        </div>
        <div
            class="slider slider--secondary slider--one-item"
            data-title="Благотворительность"
        >
            <div>
                <p>
                    Каждый ребенок имеет право на счастливое детство, беззаботную
                    улыбку и возможность быть полноправным членом общества, в котором
                    живет. Но, как это ни печально, есть дети, которым это право
                    достается труднее, чем другим. Есть ребята, которые ограничены в
                    общении со сверстниками и лишены обычных радостей детства.
                </p>
                <p>
                    Компания Вита совместно с фондом помощи «Русфонд» уже не первый
                    год занимается благотворительной деятельностью. Мы помогаем
                    детским медицинским и воспитательным учреждениям, а также жертвуем
                    денежные средства на спасение тяжелобольных детей.
                </p>
                <p class="slider__big-text">
                    Присоединяйтесь и Вы. Поможем детям вместе!
                </p>
            </div>
        </div>
    </div>
</section>
<section class="section section--map" id="map"></section>
{% endblock %}